<div class='container'>
    {{> nav}}
    <div class='tweetListContainer'>
        <div class='heading'>
            <h1>Accueil</h1>
        </div>
        <div class='tweetActionBox'>
            <form method="POST" action="/dashboard/{{username}}"class="static-form">
                <div class="box-forms">
                    <div class="boxAvatar">
                        <img src="{{avatar}}" alt="avatar"/>
                    </div>
                    <textarea placeholder="Quoi de neuf?" name="tweet"></textarea>
                </div>
                <div class="utils">
                    <button class="btn-tweetAction" type="submit">Tweeter</button>
                </div>
            </form>
            <div class="separator"></div>
        </div>
        <div class="container-tweets">
            {{#each result}}
            <div class="box-tweet">
                <div class="box-tweetInfosUser">
                    <img src="{{this.avatar}}" />
                    <h5>{{this.username}}</h5>
                    {{#if certified}}
                        <img class="certification" src='/images/certified.png' alt="certification" />
                    {{/if}}
                    <span>@{{this.username}}</span>
                </div>
                <div class="box-content">
                    <p>{{this.content}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{> suggestions}}
</div>
